/* ==========================================================================
   HEADING STYLES
   ========================================================================== */

/** Headings */
h1 { padding-top: 15px; padding-bottom: 15px; padding-left: 100px; }
.page-heading { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; }